<a href="https://github.com/Glavin001/UniCal" target="_blank">
    <img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/e7bbb0521b397edbd5fe43e7f760759336b5e05f/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677265656e5f3030373230302e706e67"
    alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png">
</a>

<div class="container">
    <h1>Welcome to the UniCal</h1>

    <div class="alert alert-info">
        <em>Spread the word about UniCal!</em>
        &nbsp;&nbsp;
        <div class="share-button" style="display: inline-block;"></div>
        <br/>
        <hr/>
        <span>
            There are
            <strong class="courses-count">0</strong>
            course(s) and there have been
            <strong class="calendars-created-count">0</strong>
            course calendar(s) created!
        </span>
    </div>

    <h2>Step 1: Search for your course(s)</h2>

    <div role="form">
        <div class="form-group">
            <label for="subject-code">Subject</label>
            <input id="subject-code" type="text" class="form-control" name="subject-code" placeholder="Enter Subject" value="CSCI" />
        </div>
        <div class="form-group">
            <label for="course-numb">Course Number</label>
            <input id="course-numb" type="number" name="course-numb" class="form-control" placeholder="Enter Course number" value="" />
        </div>
        <button class="btn btn-primary search-courses-btn">Search for Courses</button>
    </div>

    <br/>

    <script id="courses-template" type="text/x-handlebars-template">
        {{#if courses}} {{#each courses}}
        <div class="panel panel-primary animated fadeInUp">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <button class="btn btn-success add-course-btn" data-course="{{jsonStringify this}}">Add Course</button>
                    {{crn}} - {{Subj_code}} {{Crse_numb}}.{{Seq_numb}} - {{Crse_title}}
                </h3>
            </div>
            <div class="panel-body">
                <div>
                    From
                    <strong>{{formatDate Start_date "MMMM Do, YYYY"}}</strong>
                    to
                    <strong>{{formatDate End_date "MMMM Do, YYYY"}}</strong>
                    at
                    <strong>
                        {{#if Begin_time}} {{Begin_time.hours}}:{{numberWithDigits Begin_time.minutes 2}} {{else}} N/A {{/if}} to {{#if End_time}} {{End_time.hours}}:{{numberWithDigits End_time.minutes 2}} {{else}} N/A {{/if}}
                    </strong>
                </div>
                <div>
                    {{#if Mon_day}}
                    <span class="label label-info">Monday</span>
                    {{/if}} {{#if Tue_day}}
                    <span class="label label-info">Tuesday</span>
                    {{/if}} {{#if Wed_day}}
                    <span class="label label-info">Wednesday</span>
                    {{/if}} {{#if Thu_day}}
                    <span class="label label-info">Thursday</span>
                    {{/if}} {{#if Fri_day}}
                    <span class="label label-info">Friday</span>
                    {{/if}} {{#if Sat_day}}
                    <span class="label label-info">Saturday</span>
                    {{/if}} {{#if Sun_day}}
                    <span class="label label-info">Sunday</span>
                    {{/if}}
                </div>
            </div>
        </div>

        {{/each}} {{else}}
        <div class="alert alert-danger">
            No classes found. Please search above.
        </div>
        {{/if}}
    </script>
    <div id="courses-output"></div>


    <hr/>

    <h2>Step 2: Submit your Courses</h2>
    <h3>Your Selected Courses</h3>

    <script id="selected-courses-template" type="text/x-handlebars-template">
        {{#if courses}} {{#each courses}}
        <div class="panel panel-primary animated fadeInUp">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <button class="btn btn-danger remove-course-btn" data-course="{{jsonStringify this}}">Remove Course</button>
                    {{crn}} - {{Subj_code}} {{Crse_numb}}.{{Seq_numb}} - {{Crse_title}}
                </h3>
            </div>
            <div class="panel-body">
                <div>
                    From
                    <strong>{{formatDate Start_date "MMMM Do, YYYY"}}</strong>
                    to
                    <strong>{{formatDate End_date "MMMM Do, YYYY"}}</strong>
                    at
                    <strong>
                        {{#if Begin_time}} {{Begin_time.hours}}:{{numberWithDigits Begin_time.minutes 2}} {{else}} N/A {{/if}} to {{#if End_time}} {{End_time.hours}}:{{numberWithDigits End_time.minutes 2}} {{else}} N/A {{/if}}
                    </strong>
                </div>
                <div>
                    {{#if Mon_day}}
                    <span class="label label-info">Monday</span>
                    {{/if}} {{#if Tue_day}}
                    <span class="label label-info">Tuesday</span>
                    {{/if}} {{#if Wed_day}}
                    <span class="label label-info">Wednesday</span>
                    {{/if}} {{#if Thu_day}}
                    <span class="label label-info">Thursday</span>
                    {{/if}} {{#if Fri_day}}
                    <span class="label label-info">Friday</span>
                    {{/if}} {{#if Sat_day}}
                    <span class="label label-info">Saturday</span>
                    {{/if}} {{#if Sun_day}}
                    <span class="label label-info">Sunday</span>
                    {{/if}}
                </div>
            </div>
        </div>

        {{/each}} {{else}}
        <div class="alert alert-danger">
            No courses selected. Please search above and add to your selected courses list.
        </div>
        {{/if}}
    </script>
    <div id="selected-courses-output"></div>

    <hr/>

    <h3>Ready to submit?</h3>
    <button class="btn btn-success submit-btn">Submit my courses!</button>

    <h2>Step 3: Profit</h2>
    <section id="finish-section" class="alert alert-success" data-index="4">
        <form class="form-horizontal" role="form">
            <h2><i class="glyphicon glyphicon-ok-sign"></i> Finish</h2>
            <p class="lead">
                Calendar URL:
                <a href="#" id="calendarURL" target="_blank">Please select your courses above and then submit.</a>
                <br/>
                <hr/>
                <span><i class="glyphicon glyphicon-floppy-save"></i> Click/copy the above Calendar URL.</span>
                <a href="https://support.google.com/calendar/answer/37100?hl=en" target="_blank">Click here to learn more about how to subscribe to public calendars (such as UniCal) with Google Calendar.</a>
            </p>
        </form>
    </section>

    </p>

</div>
